@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border-radius: 20px;
  height: 500px;
  z-index: 1;
  position: relative;
  bottom: 50px;
  background-color: $red;
  color: $white;
  font-family: "IBM Plex Sans";
}