@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 950px;

  .hero-phone-image {
    width: 208.97px;
    height: 430px;
    z-index: 1;
    position: absolute;
    top: 500px;

    @include Tablet {
      top: 650px;
      left: 100px;
    }
  }
  .hero-cool-image-container {
    width: 100%;
    border-radius: 20px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include Tablet {
      width: 90%;
    }

    .hero-cool-image {
      width: 280px;
    }
  }
}

