@use '../../styles/variables' as *;

.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero-phone-image {
    width: 208.97px;
    height: 430px;
    z-index: 1;
    position: absolute;
    top: 450px;
    // left: 80.67px;
  }
  .hero-cool-image-container {
    width: 100vw;
    border-radius: 20px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

