@use '../../styles/typography' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  font-family: "IBM Plex Sans";
  line-height: 26px;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;

  @include Tablet {
    margin-top: -480px;
    display: flex;
    justify-content: space-between;
  }

  @include Desktop { 
    margin-top: -660px;
    display: flex;
    justify-content: space-around;

  }
    .footer-left-section {
    .footer-logo {
      margin-top: 25px;

      @include Desktop {
        width: 146px;
        height: 32px;
      }
    }
    .footer-message {
      font-size: 16px;
      margin-top: 25px;

      @include Desktop {

      }
    }
    @include Desktop {
      display: flex;
      justify-content: space-between;
      width: 60%;
    }
  }
  .footer-logo-container {
    margin-top: 50px;
    width: 100px;
    display: flex;
    align-items: start;
    justify-content: space-around;

    @include Tablet {
      margin-top: 70px;
    }

    @include Desktop {
      margin-top: 50px;
    }
    img:hover {
      cursor: pointer;
      filter: invert(44%) sepia(92%)
      saturate(2037%) hue-rotate(341deg)
      brightness(102%) contrast(88%);
    }
  }
}
